{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block content %}
    <div>
        {% block page_content %}
        <table class="table">
            <caption>热门行业  <a href="/tb">今日大单</a> <a href="/jj">基金排名</a></caption>
            <thead class="thead-inverse">
            <tr>
                {% for field in fields %}
                <th>{{field}}</th>
                {% endfor%}
            </tr>
            </thead>
            <tbody>
            {% for hy in  hyList %}
            <tr>
                <td><a href="/gg/{{hy[1]}}.csv">{{hy[0]}}</a></td>
                {% for item in hy[1:] %}
                <td>{{item}}</td>
                {% endfor%}

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>
{% endblock %}
